<!DOCTYPE html>
<html>
  <head>
    <title>BasicRailsMvc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href='/notes'>All Notes</a></li>
        <li><a href='/notes/new'>Add Note</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
